<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">

  <% newListItems.forEach(function(item) { %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
      <!-- onchange attribute above is used to submit/post the form once the checkbox is checked -->
      <!-- we also provide checkbox a name so that we can access it in the post method accordingly -->
      <!-- the item will be also having a unique _id generated for each item which we will store in the checkbox value-->
      <!-- so we can use it to select our checked checkboxes uniquely and then delete that checked item -->
      <!-- remember once we check the checkbox we det it's value -->
      <p><%= item.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    <!-- input of type hidden cannot be seen or modified by users when a form is submitted -->
  </form>

  <% }); %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
